@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;

}

code {
  font-family: 'Embed code';
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow: hidden;
  position: relative;
}

.switch_Language{
  -webkit-box-shadow: -12px -12px 17px -10px rgba(34, 60, 80, 0.49) inset;
-moz-box-shadow: -12px -12px 17px -10px rgba(34, 60, 80, 0.49) inset;
box-shadow: -12px -12px 17px -10px rgba(34, 60, 80, 0.49) inset;
}
.worksCard:nth-child(even) {
flex-direction: row-reverse;
}

@media  screen and (max-width: 600px)  {
  .worksCard:nth-child(even){
    flex-direction: column;
  }
  .worksCard{
    flex-direction: column;
  }
}